<header class="header fixed">
  <div class="cont">
    <div class="navbar">
      <a href="./index.html" class="logo">
        <img src="./assets/images/logo.svg" alt="" />
      </a>

      <nav class="navbar-nav nav-slide-right">
        <ul class="menu">
          <li class="menu-item">
            <a class="menu-link" href="./index.html">Home</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/">About Us</a>
          </li>
          <li class="menu-item dropdown">
            <a class="menu-link dropdown-toggle" href="/">Job Board</a>
            <ul class="dropdown-menu">
              <li><a class="menu-link" href="/">engineering</a></li>
              <li><a class="menu-link" href="/">software & it</a></li>
            </ul>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/">Insights Hub</a>
          </li>
          <li class="menu-item dropdown">
            <a class="menu-link dropdown-toggle" href="/">Meet the team</a>
            <ul class="dropdown-menu">
              <li><a class="menu-link" href="/">engineering</a></li>
              <li><a class="menu-link" href="/">software & it</a></li>
              <li><a class="menu-link" href="/">engineering</a></li>
              <li><a class="menu-link" href="/">software & it</a></li>
              <li><a class="menu-link" href="/">engineering</a></li>
              <li><a class="menu-link" href="/">software & it</a></li>
              <li><a class="menu-link" href="/">engineering</a></li>
              <li><a class="menu-link" href="/">software & it</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="burger menu-toggle">
        <span></span>

      </div>
    </div>
  </div>
</header>

<div class="header-close-wrapper"></div>
